@import "~antd/dist/antd.css";

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger {
  height: 32px;
  background: #ffffff33;
  margin: 16px;
}

.demo-logo {
  background: rgba(19, 3, 160, 0.89);
}
.site-layout .site-layout-background {
  background: #fff;
}

.titulo-registro {
  color: rgba(28, 12, 173, 0.89);
}
.ant-layout-header {
  margin: 0px 15px !important;
}

.ant-table-sticky-holder {
  top: 33px !important;
}

.even-row {
  background-color: #f0f0f0; /* Color de fondo para filas pares */
}

.odd-row {
  background-color: #bfbfbf; /* Color de fondo para filas impares */
}

.center-cell {
  text-align: center;
}

.warning-content {
  text-align: center;
}

h5 {
  margin-top: 9px !important;
}
